.reviews{
    margin-top: 40px;
}

.review-wrapper{
    display: flex;
    max-width: 1600px;
    width: 100%;
    padding-inline: 15px;
    margin-top: 15px;
    gap: 15px;
}

.review{
    width: 500px;
    max-width: 100%;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 5px rgba(173, 216, 230, 0.466);
    transition: transform 0.3s ease-in-out;
    
}

.review:hover {
  animation: hoverUp 0.3s ease-in-out forwards;
}

@keyframes hoverUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.review-author{
    font-size: 20px;
    margin-top: 15px;
    font-style: italic;
}

@media screen and (max-width:900px) {
    .review-wrapper{
        flex-direction: column;
        align-items: center;
    }
}